*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem; /* 16px */
  color: white;
  background-color: darkgray; /*So pra nao ofuscar minha vista por enquanto kkkkk */
}

h1 {
  margin-top: 3.125rem; /* 50px */
  font-size: 2rem;
}

p {
  font-size: 1.125rem; /* 18px*/
}

h1, p {
  margin-bottom: 0.5rem;
}

label {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

.container{
  width: 100%;
  margin: 3.125rem auto 0 auto;
}

.formulario {
  height: 100%;
  width: 100%;  
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;  
}

.container {
  background-color: #2d2c4a;
  height: auto;
  width: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center; 
}

.formulario h1{
  margin-bottom: 18px;
}

.formulario h2{
  margin-bottom: 22px;
  font-style: italic;
}

.inputPadrao {
  width: 97%;
  font-size: 1.2rem;
  margin-top: 8px;
  padding: 8px;
  border-radius: 5px;  
  color: black;
 }

 textarea {
  width: 97%;
  margin-top: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  padding: 10px;
  color: black;
  resize: none;
  
 }

 button {
  margin-top: 32px;
  height: 50px;
  width: 100%;
  background-color: #37af65;
  color: white;
  font-size: 1.2rem;
  margin-bottom: 50px;
  border: none;
 }
